.area-image{
	max-width: 300px;
}

body{
	background-color: #fff0f0;
	color: #7f323c;
	font-family: Georgia;
}
h1{
	font-family: Satisfy;
	color: #511f27;
	background-color: #fef0ef;
	border-radius: 5px;
	padding: 10px;
}
h3{
	font-family: Satisfy;
	color: #511f27;
}
img{
	width: 150px;
	border: 2px solid #fef0ef;
}
hr{
	border-top:2px solid white;
}
.container{
	max-width: 400px;
	background: rgb(246,197,196);
	background: linear-gradient(90deg, rgba(246,197,196,1) 0%, rgba(255,224,222,1) 50%, rgba(246,197,196,1) 100%);
	border: 2px solid #ffe0de;
	padding: 20px;
}